[Unit]
Description=Image Application With Deep Learning
Documentation=https://githubs.com/delldu/ImageSevice
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/image --server
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
Restart=always
StartLimitInterval=60s
KillMode=process

[Install]
WantedBy=multi-user.target
