<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Image</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="../dist/image.js"></script>
</head>

<body onload="init()">
    <input type="file" onchange="add_file(this)" accept='image/*' multiple="multiple">
    <canvas id="canvas" height="480px" width="640px" style="border: 1px solid">

    </canvas>
</body>
<script type="text/javascript">
var canvas;

function init() {
    canvas = new NiImage("canvas");
}

function add_file(th) {
    if (th && th.files) {
        for (i = 0; i < th.files.length; i++)
            canvas.addImage(th.files[i]);
    }
}

</script>

</html>