<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Image</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>

<body onload="init()">
    <form method=post enctype=multipart/form-data action="/upload">
        <input type="file" name="file[]" onchange="add_file(this)" multiple="multiple" accept='image/*'>
        <input type=submit value=upload>
    </form>
    <canvas id="canvas" height="480px" width="640px" style="border: 1px solid">
    </canvas>
</body>
<script type="text/javascript">
var canvas;
var client = new AbClient("ws://localhost:8080/ws");

function init() {
    // canvas = new NImage("canvas");
}

function add_file(th) {
    console.log("Start test websocker ...");

    head = new ImageHead();
    head.h = 2048;
    head.w = 4096; // 4K Image ?
    data = new Uint8ClampedArray(new ArrayBuffer(head.dataSize()));
    client.color(x).then((result) => {
            console.log(result);
        })
        .catch((error) => {
            console.log("error ......", error);
        });

    if (th && th.files) {
        console.log(th.files);
        // ajaxPostFiles(location.origin + "/upload", th.files).then((result) => {
        //         console.log("Upload files:", result);
        //     },
        //     (errmsg) => {
        //         console.log("Post Files Error:", errmsg);
        //     });

        // Wait loading finish? 50~1000 ms is reasonable for human beings
        // sleep(200).then(() => {
        //     ajaxPostFiles(location.origin + "/upload",th.files).then((result) => {
        //         console.log("Post Files Result:", result);
        //     },
        //     (errmsg)=>{
        //         console.log("Post Files Error:", errmsg);
        //     });

        // });
    }
}
</script>

</html>