<!DOCTYPE html>
<html>

<head>
    <title>New Image</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script type="text/javascript">
    function test() {
        // count.addEventListener('keydown', function () {
        //     console.log("keydown ...");
        // });

        test_message();
        test_progress();
        test_canvas();

        test_uploader();
        test_downloader();
        test_workspace();
    }

    function test_message() {
        msgbar = new Message("message_id");
        msgbar.show("This is a message ........................", 10000); // 10 s
    }

    function test_progress() {
        pb = new Progress(0);
        pb.startDemo(0); // start 0
    }

    function test_canvas() {
        var canvas = new Canvas("canvas");
        // canvas.test();
        // canvas.setZoom(3);
        // canvas.redraw();
        canvas.redraw(); // Draw rectangle ?
    }

    function test_uploader() {
        console.log("Test uploader ...");
    }

    function test_downloader() {
        console.log("Test downloader ...");
    }

    function test_workspace() {
        console.log("Test workspace ...");
    }
    </script>
</head>

<body onload="test()">
    <p>Test Message Class ...</p>
    <div id="message_id" class="message">Message Bar</div>
    <p>Test Progress Class ...</p>
    <progress value="0" max="100">Progress Bar>Progress Bar</progress>
    <p>Test Canvas Class ...</p>
    <canvas id="canvas" width="640" height="480" style="border:1px solid #c3c3c3;">Your browser does not support canvas ... </canvas>
    <p>Test Uploader Class ...</p>
    <p>Test Downloader Class ...</p>
    <p>Test Workspace Class ...</p>
</body>

</html>