body {
    min-width: 200px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.display_none {
    display: none !important;
}

.display_block {
    display: block !important;
}

.force_small_font {
    font-size: small !important;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

textarea {
    border: 1px solid #cccccc;
    margin: 0.6rem 0;
    padding: 0.2rem 0.4rem;
}

/* Top panel : #navbar, #toolbar */
.top_panel {
    font-size: 16px;
    display: block;
    background-color: #212121;
    color: #ffffff;
    z-index: 1001;
    margin-bottom: 24px;
    width: 100%;
    display: inline-block;
}

/* Navigation menu bar that appear at the top */
.menubar {
    display: inline-block;
    height: 32px;
}

/* height needed to avoid extra bottom border */
.menubar a:link {
    color: #eeeeee;
    text-decoration: none;
}

.menubar a:visited {
    color: #eeeeee;
    text-decoration: none;
}

.menubar ul {
    display: block;
    padding: 0;
    margin: 0;
}

.menubar li {
    display: inline;
    float: left;
    padding: 0.45rem 1rem;
}

.menubar li:hover {
    background-color: #616161;
    cursor: default;
}

.menubar li ul {
    display: none;
    background-color: #212121;
    border: 1px solid #616161;
    min-width: 10rem;
    position: absolute;
    z-index: 100;
    margin: 0.4rem -1rem;
}

.menubar li ul li {
    display: block;
    float: none;
    color: #eeeeee;
    margin: 0;
    padding: 0.6rem 1rem;
}

.menubar li ul li:hover {
    cursor: pointer;
}

.menubar li ul li.submenu_divider {
    margin: 0 0.4rem;
    padding: 0;
    height: 1px;
    border-bottom: 1px solid #424242;
}

.menubar li:hover ul {
    display: block;
}

/* toolbar containing small icons for tools */
.toolbar {
    display: inline-block;
    margin-left: 1rem;
}

.toolbar ul {
    display: inline-block;
    padding: 0.2rem;
    margin: 0;
}

.toolbar li {
    display: inline;
    float: left;
    padding: 0rem 0.3rem;
    border: 1px solid white;
}

/* main menu items */
.toolbar li:hover {
    color: red;
    cursor: pointer;
}

.toolbar svg {
    fill: white;
    margin: 0.2rem 0.1rem;
    height: 2.0rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toolbar svg:hover {
    fill: yellow;
    cursor: pointer;
}

.toolbar svg:active {
    fill: white;
}

/* Middle panel: containing left side bar, workspace */
.middle_panel {
    display: table;
    table-layout: fixed;
    width: 100%;
    z-index: 1;
    padding: 0;
}

.leftsidebar {
    display: none;
    z-index: 10;
    vertical-align: top;
}

.workspace {
    display: table-cell;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding-left: 1em;
    vertical-align: top;
}

/* Bottom panel */


/* progress bar, message bar ... */
.progressbar {}

.messagebar {
    display: inline;
    margin: auto;
    font-size: small;
    overflow: scroll;
    line-height: 2rem;
    padding: 0.5rem 2rem;
    z-index: 9999;
    position: absolute;
    left: 80%;
    top: 90%;
}
