<!DOCTYPE html>
<html>

<head>
    <title>New Image</title>
    <meta charset="utf-8">
    <meta name="keywords" content="Image Cleaning, Zooming, Coloring, Patching, Style Transforming">
    <meta name="description" content="Make photos more clear, more fan, process image with deep learning.">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>

<body>
    <div class="top_panel" id="ui_top_panel"></div>
    <table width="780" border="1">
        <tr>
            <td height="32">Header1</td>
            <td height="32">Header2</td>
        </tr>
        <tr>
            <td width="120" height="480">
                <table width="114" height="441" border="1">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td width="640" height="480">
                <canvas id="canvas" width="640" height="480">
                    <img src="" id="canvas_background" alt="Canvas backgroud image" />
                </canvas>
            </td>
        </tr>
        <tr>
            <td height="32">Footer</td>
            <td height="32">
                <table width="480" border="1">
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <progress value="20" max="100" style="display:block"></progress>
            </td>
        </tr>
    </table>
</body>

</html>