<!DOCTYPE html>
<html lang="en">

<head>
    <title>Material Design Test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="matter.css">
    <script type="text/javascript">
    </script>
</head>

<body>
    <header class="matter-block">
        <div class="matter-h4" style="position: absolute;left:10px;">Image...</div>
        <ul class="matter-menubar" style="padding: 0 168px;">
            <li>
                <a href="#" class="matter-button-contained">Input</a>
            </li>
            <li>
                <a href="#" class="matter-button-contained">Cleaning</a>
            </li>
            <li>
                <a href="#" class="matter-button-contained">Coloring</a>
            </li>
            <li>
                <a href="#" class="matter-button-contained">Zooming</a>
            </li>
            <li>
                <a href="#" class="matter-button-contained">Patching</a>
            </li>
            <li>
                <a href="#" class="matter-button-contained">Output</a>
            </li>
        </ul>
    </header>
    <main>
        <img src="mountain.jpg" style="width: 100%;height: 100%" alt="Image" />
    </main>
    <footer>
        <a class="matter-link" href="#">Home Page ...</a>
        <hr />
        <button class="matter-button-contained">BUTTON Contained</button>
        <button class="matter-button-outlined">BUTTON Outlined</button>
        <button class="matter-button-text">BUTTON Text</button>
        <hr />
        <progress class="matter-progress-circular" style="font-size: 24px;"></progress>
        <progress class="matter-progress-linear">Cleaning ...</progress>
        <hr />
        <label class="matter-checkbox">
            <input type="checkbox">
            <span>Unchecked</span>
        </label>
        <label class="matter-checkbox">
            <input type="checkbox">
            <span>Indeterminate</span>
        </label>
        <label class="matter-checkbox">
            <input type="checkbox" checked>
            <span>Checked</span>
        </label>
        <label class="matter-checkbox">
            <input type="checkbox" disabled>
            <span>Disabled Unchecked</span>
        </label>
        <label class="matter-checkbox">
            <input type="checkbox" disabled>
            <span>Disabled Indeterminate</span>
        </label>
        <label class="matter-checkbox">
            <input type="checkbox" checked disabled>
            <span>Disabled Checked</span>
        </label>
        <hr />
        <label class="matter-radio">
            <input type="radio" name="group" checked>
            <span>Radio Option 1</span>
        </label>
        <label class="matter-radio">
            <input type="radio" name="group">
            <span>Radio Option 2</span>
        </label>
        <label class="matter-radio">
            <input type="radio" name="disabled" checked disabled>
            <span>Disabled 1</span>
        </label>
        <label class="matter-radio">
            <input type="radio" name="disabled" disabled>
            <span>Disabled 2</span>
        </label>
        <hr />
        <label class="matter-switch">
            <input type="checkbox" role="switch" checked>
            <span>Switched On</span>
        </label>
        <label class="matter-switch">
            <input type="checkbox" role="switch">
            <span>Switched Off</span>
        </label>
        <label class="matter-switch">
            <input type="checkbox" role="switch" disabled checked>
            <span>Switched On</span>
        </label>
        <label class="matter-switch">
            <input type="checkbox" role="switch" disabled>
            <span>Switched Off</span>
        </label>
        <label class="matter-switch" style="width: 200px;">
            <input type="checkbox" role="switch">
            <span>Sized</span>
        </label>
        <hr />
        <label class="matter-textfield-filled">
            <input placeholder=" " />
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-filled" style="width: 240px;">
            <input placeholder=" " />
            <span>Sized</span>
        </label>
        <label class="matter-textfield-filled">
            <input placeholder=" " disabled />
            <span>Disabled</span>
        </label>
        <label class="matter-textfield-filled">
            <textarea placeholder=" "></textarea>
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-filled" style="width: 240px; height: 90px;">
            <textarea placeholder=" "></textarea>
            <span>Sized</span>
        </label>
        <label class="matter-textfield-filled">
            <textarea placeholder=" " disabled></textarea>
            <span>Disabled</span>
        </label>
        <label class="matter-textfield-outlined">
            <input placeholder=" " />
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-outlined" style="width: 240px;">
            <input placeholder=" " />
            <span>Sized</span>
        </label>
        <label class="matter-textfield-outlined">
            <input placeholder=" " disabled />
            <span>Disabled</span>
        </label>
        <label class="matter-textfield-outlined">
            <textarea placeholder=" "></textarea>
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-outlined" style="width: 240px; height: 90px;">
            <textarea placeholder=" "></textarea>
            <span>Sized</span>
        </label>
        <label class="matter-textfield-outlined">
            <textarea placeholder=" " disabled></textarea>
            <span>Disabled</span>
        </label>
        <hr />
        <label class="matter-textfield-standard">
            <input placeholder=" " />
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-standard" style="width: 240px;">
            <input placeholder=" " />
            <span>Sized</span>
        </label>
        <label class="matter-textfield-standard">
            <input placeholder=" " disabled />
            <span>Disabled</span>
        </label>
        <label class="matter-textfield-standard">
            <textarea placeholder=" "></textarea>
            <span>Textfield</span>
        </label>
        <label class="matter-textfield-standard" style="width: 240px; height: 90px;">
            <textarea placeholder=" "></textarea>
            <span>Sized</span>
        </label>
        <label class="matter-textfield-standard">
            <textarea placeholder=" " disabled></textarea>
            <span>Disabled</span>
        </label>
        <hr />
        <div aria-describedby="div-tooltip" style="position: relative;width: 120px;">
            <span class="matter-tooltip"><span id="div-tooltip" aria-hidden="true">Small Help</span></span>
            I'm a div
        </div>
        <div aria-describedby="wide-div-tooltip" style="position: relative; width: 240px;">
            <span class="matter-tooltip"><span id="wide-div-tooltip" aria-hidden="true">Small Help</span></span>
            I'm a wider div
        </div>
        <span aria-describedby="span-tooltip" style="position: relative;"><span class="matter-tooltip"><span id="span-tooltip" aria-hidden="true">Small Help</span></span>I'm</span>
        <div aria-describedby="top-tooltip" style="position: relative;width: 120px;">
            <span class="matter-tooltip-top"><span id="top-tooltip" aria-hidden="true">Small Help</span></span>
            Top variant
        </div>
        <label style="position: relative;">
            <span class="matter-tooltip"><span id="input-tooltip" aria-hidden="true">Small Help</span></span>
            <input aria-describedby="input-tooltip" />
            <span>Label</span>
        </label>
        <hr />
        <button class="matter-primary">Primary</button>
        <button class="matter-secondary">Secondary</button>
        <button class="matter-error">Error</button>
        <button class="matter-warning">Warning</button>
        <button class="matter-success">Success</button>
        <hr />
        <p class="matter-primary-text">I am primary color</p>
        <p class="matter-secondary-text">I am secondary color</p>
        <p class="matter-error-text">I am error color</p>
        <p class="matter-warning-text">I am warning color</p>
        <p class="matter-success-text">I am success color</p>
        <h1 class="matter-h1">I am h1</h1>
        <h2 class="matter-h2">I am h2</h2>
        <h3 class="matter-h3">I am h3</h3>
        <h4 class="matter-h4">I am h4</h4>
        <h5 class="matter-h5">I am h5</h5>
        <h6 class="matter-h6">I am h5</h6>
        <div class="matter-subtitle1">I am subtitle 1</div>
        <div class="matter-subtitle2">I am subtitle 2</div>
        <div class="matter-body1">I am body 1. I'm a big fan of Pure CSS Stuff too. I wondered if these components could be done without JavaScript. It turns out you can go a long way with this restriction. Not full blown functionality though, but enough for a lot of use-cases.</div>
        <div class="matter-body2">I am body 2. This project goes back to around half a year before, when I needed just a few nice looking components for a CodePen demo. Buttons, Slider, Switch, Textfield, some of the usual components of a web page. I'm a big fan of Material Design, and I couldn't find any lean and simple way to integrate these Material components into my Pen. I thought it shouldn't be hard to implement them.</div>
        <a class="matter-button">Button</a>
        <div class="matter-caption">I am a caption</div>
        <div class="matter-overline">I am the overline</div>
    </footer>
</body>

</html>
