<!DOCTYPE html>
<html lang="en">

<head>
    <title>NiImage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script type="text/javascript">
    function test() {}

    var project = new ImageProject("Demo");
    var panel = new ShiftPanel();

    function ChoiceFile(file) {
        // set file to buffer ... canvas_background_image element
        if (file.files && file.files[0]) {
            project.load(file.files[0]);
            console.log(project.info());
            console.log(project);

            // Wait loading finish? 50~1000 ms is reasonable for human beings
            sleep(200).then(() => {
                if (project.goLast()) {
                    var [image, index] = project.current();
                    var bg = document.getElementById("background");
                    bg.src = image.src;
                    var context = document.getElementById("canvas").getContext('2d');
                    context.drawImage(image, 0, 0);
                }
            });
        }
    }
    </script>
</head>

<body onload="test()">
    <input type="file" onchange="ChoiceFile(this);" title="Change Background.">
    <canvas id="canvas" width="640" height="480" style="border:1px solid #c3c3c3;">
    </canvas>
    <img id="background" src="" width="640" height="480" style="border:1px solid red;" />
</body>
<script type="text/javascript">
panel.add("canvas");
panel.add("background");
</script>

</html>